<div id="{{dashcase name}}" class="item">
  <div class="top-line">
    <div class="quick-buttons">
      <i class="fa fa-pencil-square edit-button" aria-hidden="true" data-item="{{dashcase name}}"></i>
      <i class="fa fa-window-close close-button" aria-hidden="true" data-item="{{dashcase name}}"></i>
      <i class="fa fa-refresh refresh-button" aria-hidden="true" data-item="{{dashcase name}}"></i>
      <i class="fa fa-clone copy-button" aria-hidden="true" data-item="{{dashcase name}}"></i>
    </div>
    <h1>{{name}}</h1>
  </div>
  <div class="tag-list">

  </div>
  {{{markdown body}}}
</div>
